name: Release Jbeam Edit extension

on:
  pull_request:
  push:
    tags: [v*]
    branches: [main]

jobs:
  build-and-release:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Cache node modules
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.npm
            node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm clean-install
      - run: npm run build
      - name: Package extension
        run: npm run package
      - name: Publish to Visual Studio Marketplace
        if: startsWith(github.ref, 'refs/tags/')
        run: npx vsce publish -p ${{ secrets.VSCE_TOKEN }}
