name: Test Jbeam Edit extension

on:
  push:
    branches: [master]
  pull_request:

jobs:
  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: npm install
      - name: Check formatting with js-beautify
        run: |
          npm run format
          git diff --exit-code
      - run: npm run build
