name: Check for outdated dependencies

on:
  pull_request:
    paths:
      - package.json
  schedule:
    - cron: 0 5 * * 0  # every sunday 05:00 UTC

jobs:
  check-dependencies:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Cache node modules
        uses: actions/cache@v5.0.1
        with:
          path: |
            ~/.npm
            node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm
      - name: Install dependencies
        run: npm clean-install
      - name: Check for outdated dependencies
        shell: bash
        run: bash ./scripts/check_dependencies.sh
